/*  Bruk klasser (class) i CSS istedet for id */

/* BODY */

body {
  margin: 0;
}

/* HEADER */

header {
 
  align-items: center;
  padding: 0 0 0 0; /* top right bottom left eks 10 15 15 10 - top/bottom - left/right */
  background-color: #347e84;
  width: 100%;
}


.headerhiof {

  width:210px;
  padding-left:25px;
  padding-top:25px;
  padding-bottom:15px;
 
}

.headingskrift {

  font-family: "Source Sans 3";
  color:white;
  padding-left: 35px;

 
  margin:0;
  


}

.logoandtexthd {

  display: flex;
  flex-direction: column;
  align-items:left;
  padding-bottom: 25px;
}

.imageprologo {
  width : 130px;
  padding-right:25px;
}

.menydiv {

  display: flex;
  flex-direction: row;
  
}

h2 {
   font-size:16;
   font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type:none;
}

li {
  display: flex;
  padding:5px;
  
}

a{
  font-family: "Source Sans 3";
  color: rgb(220,220,220);
  display: flex;
  align-items:center;
  
}

.headernav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

/* MAIN */

section {
  height: 100vh;
  font-family: "Source Sans 3";
  /*
 display: flex; /* display: flex - må være med for at flex skal fungere  
 flex-grow: 1; 
 */
}


.intro
{ 
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

}


/* FOOTER */

footer {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}
