/*  Bruk klasser (class) i CSS istedet for id */

/* BODY */

body {
  margin: 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0; /* top right bottom left eks 10 15 15 10 - top/bottom - left/right */
}

ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* MAIN */

section {
  height: 100vh;
  /*
 display: flex; /* display: flex - må være med for at flex skal fungere  
 flex-grow: 1; 
 */
}

/* FOOTER */

footer {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}
