/*  Bruk klasser (class) i CSS istedet for id */

/* BODY */

body {
  display: flex;
  height: 100%;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;

}

/* HEADER */

header {
 
  display: flex;
  flex-direction: row;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  z-index: 10;
  width: 100%;  
  align-items: center;
  padding: 0 0 0 0; /* top right bottom left eks 10 15 15 10 - top/bottom - left/right */
  background-color: #347e84;

}


.headerhiof {

  width:210px;
  padding-left:25px;
  padding-top:25px;
  padding-bottom:15px;
 
}

.headingskrift {

  font-family: "Source Sans 3";
  color:white;
  padding-left: 35px;
  margin:0;
}

.hero {

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logoandtexthd {

  display: flex;
  flex-direction: column;
  align-items:left;
  padding-bottom: 25px;
}

.imageprologo {
  width : 130px;
  padding-right:25px;
  padding-left: 200px;
}

.menydiv {

  display: flex;
  flex-direction: row;
  padding-right: 20px;

  
}

h1 {
  font-size: 35px;
  align-self: center;
  
}
h2 {
   font-size:16;
   font-weight: normal;
   text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type:circle;
}

li {
  display: flex;
  padding:5px;
  
}

a{
  font-family: "Source Sans 3";
  color: rgb(220,220,220);
  display: flex;
  align-items:center;
  
}

.headernav {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; 

}

/* MAIN */

main{
 
  flex-grow: 1;
  background-image: url("Images/imageProWhiteBackgroundop60.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
 
  font-family: "Source Sans 3";
  /*
 display: flex; /* display: flex - må være med for at flex skal fungere  
 flex-grow: 1; 
 */
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.imageprobilde {
  width: 400px;
  align-self: center;
}

.infostart
{
   font-size: 20px;
   font-weight: bolder;

}

.infoslutt {
  
  padding-left: 50px;
  font-size: 20px;
  font-weight: normal;
  font-style:normal;
}

.infosamlet {
  display: flex;
  justify-content: center;
  padding-top:12px;
}
/* introduksjon.html klasse */

.intro { 
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

}

.standard {
   color:black;
   text-align: left;
   width:50%;
   padding:0;
   margin:8px;
   background-color: rgba(255,255,255,1);
   
}
.oldpcimg {
  width:35%;
  padding-top:20px;
  padding-bottom: 20px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center; 
  font-family: "Source Sans 3";
  color:white;
  text-align: center;
  background-color: #347e84;
  height:100px;
}
